.Dictionary form {
  margin-top: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  height: 45px;
}

.Dictionary h1 {
  font-size: 38px;
  font-family: "Archivo Black", sans-serif;
}

.Dictionary p {
  font-size: 22px;
}

.Dictionary .search-form {
  background-color: #d8d2cb;
  margin: 20px 220px 20px 220px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px #364f6b;
}

.Dictionary .search-input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #364f6b;
  background-color: #eeeeee;
  text-align: center;
  font-size: 17px;
  transition: all 200ms ease-in-out;
  margin-bottom: 20px;
}

.Dictionary .search-input:hover {
  color: #364f6b;
}

::placeholder {
  color: #364f6b;
}

.Dictionary .submit-input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #364f6b;
  color: #364f6b;
  background-color: #eeeeee;
}

.Dictionary .submit-input:hover {
  background-color: #fc5185;
  color: #eeeeee;
}

.Dictionary .suggestion {
  font-size: 15px;
  margin: 0;
}
